# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# Test & coverage reports
reports/
.coverage
htmlcov/
.pytest_cache/

# SonarQube
.sonar/

# IDE
.vscode/
.idea/
*.swp

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db
